<h1 class="text-center mt-4">Displaying all the userDetails</h1>
<% @users.each do |user| %>
<div class="container">
    <div class="card text-center mt-5">
        <div class="card-header">
            User details
        </div>
        <div class="card-body">
            <h5 class="card-title"><b>user details</b></h5>
            <p class="card-text"><b>username:</b><%= user.username %></p>
            <p class="card-text"><b>email:</b><%= user.email %></p>
            <%= link_to "view",user_path(user), class:"btn btn-outline-info" %>
            <%= link_to "edit",edit_user_path(user),class:"btn btn-outline-success" %>
            <%= link_to "delete",user_path(user), method: :delete,class:"btn btn-outline-danger",data: {confirm: "Are you sure ?"} %>
        </div>
    </div>
<% end %>
</div>