<h1 class="text-center mt-4">show user <%=@user.id %> details</h1>
<div class="container">
    <div class="col-10">
    <div class="card text-center mt-5">
        <div class="card-header">
            <%= @user.id %>
        </div>
        <div class="card-body">
            <p class="card-title"><b>userName:</b><%=@user.username %></p>
            <p class="card-text"><b>userEmail:</b><%= @user.email %></p>
            <%= link_to "edit",edit_user_path(@user),class:"btn btn-outline-success" %>
            <%= link_to "delete",user_path(@user), method: :delete,class:"btn btn-outline-danger",data: {confirm: "Are you sure ?"}%>
        </div>
    </div>
    </div>
</div>
