<h1 class="text-center mt-4">show course <%=@course.id %> details</h1>
<div class="container">
    <div class="col-10">
    <div class="card text-center mt-5">
        <div class="card-header">
         <% @course.lessons.each do |lesson| %>
            <%= lesson.title%><br>
        <% end %>
        </div>
        <div class="card-body">
            <p class="card-title"><b>CourseName:</b><%=@course.name %></p>
            <p class="card-text"><b>CourseDescription:</b><%= @course.description %></p>
            <p class="card-text"><b>Courseprice:</b><%= @course.price %></p>
            <% if logged_in? && (@course.user == current_user || current_user.admin?) %>
            <%= link_to "edit",edit_course_path(@course),class:"btn btn-outline-success" %>
            <%= link_to "delete",course_path(@course), method: :delete,class:"btn btn-outline-danger",data: {confirm: "Are you sure ?"}%>
            <% end %>
        </div>
    </div>
    </div>
</div>
